[submodule "submodules/ingadhoc/sale"]
	path = submodules/ingadhoc/sale
	url = https://github.com/ingadhoc/sale
	branch = 15.0
[submodule "submodules/ingadhoc/stock"]
	path = submodules/ingadhoc/stock
	url = https://github.com/ingadhoc/stock
	branch = 15.0
[submodule "submodules/ingadhoc/product"]
	path = submodules/ingadhoc/product
	url = https://github.com/ingadhoc/product
	branch = 15.0
[submodule "submodules/ingadhoc/multi-company"]
	path = submodules/ingadhoc/multi-company
	url = https://github.com/ingadhoc/multi-company
	branch = 15.0
[submodule "submodules/ingadhoc/account-payment"]
	path = submodules/ingadhoc/account-payment
	url = https://github.com/ingadhoc/account-payment
	branch = 15.0
[submodule "submodules/ingadhoc/account-financial-tools"]
	path = submodules/ingadhoc/account-financial-tools
	url = https://github.com/ingadhoc/account-financial-tools
	branch = 15.0
[submodule "submodules/aeroo/aeroo_reports"]
	path = submodules/aeroo/aeroo_reports
	url = https://github.com/aeroo/aeroo_reports
	branch = 15.0
